<!DOCTYPE html>
<html lang ='en'>
<head>
  <title>Skill Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <div class="container">
    <body>
      <div class="well well-lg">
        <h1>Welcome to your Inventory of skills</h1>
        <ul class="list-unstyled list-inline">
          <li><a class='btn btn-primary btn-active' href="/skills" role="button">Skill Index</a></li>
          <li><a class='btn btn-success btn-active' href='/skills/new' role="buttton">New Skills</a></li>
        </ul>
      </div>
    </body>
  </div>
